In [13]:
import pandas as pd
import numpy as np

In [14]:
raw_data = {'user_id': [123456, 123456, 1234567, 1234567, 1234568, 1234568, 1234569, 1234569],
            'app_id': [1, 1, 1, 1, 2, 2, 3, 3],
            'app_name': ["CC", "CC", "CC", "CC", "PP", "PP", "DD", "DD"],
            'event': ["impressed", "click", "impressed", "click", "impressed", "click", "impressed", "click"],
           }

df = pd.DataFrame(raw_data, columns = ['user_id', 'app_id', 'app_name', 'event'])
df

   user_id  app_id app_name      event
0   123456       1       CC  impressed
1   123456       1       CC      click
2  1234567       1       CC  impressed
3  1234567       1       CC      click
4  1234568       2       PP  impressed
5  1234568       2       PP      click
6  1234569       3       DD  impressed
7  1234569       3       DD      click

In [16]:
pd.pivot_table(df, index=['app_name','app_id', 'event'], aggfunc='count')

                           user_id
app_name app_id event
CC       1      click            2
                impressed        2
DD       3      click            1
                impressed        1
PP       2      click            1
                impressed        1

In [51]:
new_df=new_df.sort_values(by='Month').reset_index(drop=True)

In [52]:
new_df["Day"] = ""

In [53]:
new_df.head()

   Month  Revenue Day
0      1      300
1      1      300
2      1      300
3      1      300
4      1      300

In [54]:
i = 1
for index, row in new_df.iterrows():
    if i >30:
        i = 1
    new_df.loc[index, 'Day'] = i
    i +=1

In [56]:
new_df = new_df[['Month', 'Day', 'Revenue']]

In [59]:
new_df['Revenue'] = new_df['Revenue']/30

In [85]:
J = [4, 4, 4, 9, 10, 11, 12]

In [86]:
p=3
current=0

In [87]:
for i in range(p):
    current += J[i]
    print("new loop")
    print("i = "+ str(i))
    print("p = " +str(p))
    print("J[i] = " +str(J[i]))
    print("current = " +str(current))

new loop
i = 0
p = 3
J[i] = 4
current = 4
new loop
i = 1
p = 3
J[i] = 4
current = 8
new loop
i = 2
p = 3
J[i] = 4
current = 12

In [88]:
high = low = current

In [89]:
for i in range(p, len(J)):
    # this loop iterates through each value after the first sequence
    # we recaluclate current each time we iterate through this loop by 
    # adding J[i] --e.g. the current value we're at, and subtracting the
    # value that is 1 position outside of the current sequence
    # we then compare the current value against the the lowest value 
    # and highest value

    current = current - J[i-p] + J[i]
    low = min(low, current)
    high = max(high,current)
    print("new loop")
    print("i = "+ str(i))
    print("i-p = "+ str(i-p))
    print("p = " +str(p))
    print("J[i] = " +str(J[i]))
    print("current = " +str(current))
    print("low = " +str(low))
    print("high = " +str(high))

new loop
i = 3
i-p = 0
p = 3
J[i] = 9
current = 17
low = 12
high = 17
new loop
i = 4
i-p = 1
p = 3
J[i] = 10
current = 23
low = 12
high = 23
new loop
i = 5
i-p = 2
p = 3
J[i] = 11
current = 30
low = 12
high = 30
new loop
i = 6
i-p = 3
p = 3
J[i] = 12
current = 33
low = 12
high = 33

In [82]:
low

17

In [83]:
high

38

In [4]:
s = {1, 2, 3}

In [97]:
i = 0
x = len(s)
for i in range(1 << x):
    print([s[j] for j in range(x) if (i & (1 << j))])

[]

TypeError: 'set' object does not support indexing

In [9]:
power_set=[[]]
for elem in s:
# iterate over the sub sets so far
    for sub_set in power_set:
        print("new loop")
      # add a new subset consisting of the subset at hand added elem
        power_set=power_set+[list(sub_set)+[elem]]
        print(power_set)
        print(sub_set)
        print(elem)

new loop
[[], [1]]
[]
1
new loop
[[], [1], [2]]
[]
2
new loop
[[], [1], [2], [1, 2]]
[1]
2
new loop
[[], [1], [2], [1, 2], [3]]
[]
3
new loop
[[], [1], [2], [1, 2], [3], [1, 3]]
[1]
3
new loop
[[], [1], [2], [1, 2], [3], [1, 3], [2, 3]]
[2]
3
new loop
[[], [1], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3]]
[1, 2]
3

In [7]:
power_set

[[], [1], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3]]

In [24]:
import copy
potential_values = [2,3,6,7,8]

def footballScores(score):
    table = {0: [{}] }
    for i in range (1, score + 1):
            table[i] = []
            for value in potential_values:
                if i - value < 0 or i - value not in table:
                    # if we can't fit it we skip the value
                    continue
                for score_config in table[i - value]:
                    # for each score config in the previous total append it to this value
                    new_score_config = copy.copy(score_config)
                    new_score_config[value] = new_score_config.get(value, 0) + 1
                    
                    if new_score_config not in table[i]:
                        table[i].append(new_score_config)
                        
    return T[score]

In [25]:
footballScores(10)

[{2: 5}, {3: 2, 2: 2}, {6: 1, 2: 2}, {8: 1, 2: 1}, {7: 1, 3: 1}]